html{
    font-size: 62.5%;
    font-family: arial;
  }
  
  body{
  background: white;
  }

  .angel-container {
    padding: 1rem;
    border: 1px solid black;
    border-radius: 25px;
  }
  
  @keyframes heart1{
    0%{ left: 80%; top: 63% }
    50%{ left: 42%; top: 11% }
    100%{ left: 80%; top: 63% }
  }
  
  @keyframes heart2{
    0%{ left: 13%; top: 90% }
    50%{ left: 23%; top: 10% }
    100%{ left: 13%; top: 90% }
  }
  
  @keyframes heart3{
    0%{ left: 78%; top: 23% }
    50%{ left: 8%; top: 37% }
    100%{ left: 78%; top: 23% }
  }
  
  @keyframes heart4{
    0%{ left: 22%; top: 30% }
    50%{ left: 40%; top: 88% }
    100%{ left: 22%; top: 30% }
  }
  
  #heart { 
      position: absolute; 
      width: 10rem; 
      height: 9rem;
      filter: blur(1rem);
  }
  
  #heart:hover{
      filter: none;
      animation-play-state: paused;
  }
  
  #heart:before, #heart:after { 
      position: absolute; 
      content: ""; 
      left: 5rem; 
      top: 0; 
      width: 5rem; 
      height: 8rem; 
      background: deeppink; 
      border-radius: 5rem 5rem 0 0; 
      transform: rotate(-45deg); 
      transform-origin: 0 100%; 
  } 
  
  #heart:after { 
      left: 0; 
      transform: rotate(45deg); 
      transform-origin :100% 100%;
  }
  
  
  
  #heart:nth-child(1){
    left: 80%;
    top: 63%;
    animation-name: heart1;
    animation-duration: 10s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
  }
  
  
  #heart:nth-child(2){
    left: 13%;
    top: 90%;
    animation-name: heart2;
    animation-duration: 20s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
  }
  
  #heart:nth-child(3){
    left: 78%;
    top: 23%;
    animation-name: heart3;
    animation-duration: 13s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
  }
  
  #heart:nth-child(4){
    left: 22%;
    top: 30%;
    animation-name: heart4;
    animation-duration: 15s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
  }
  
  

  
  @media(max-width: 500px){
      body{
          background: deeppink;
      }
      #heart:before, #heart:after {
          background: white;
      }
  }
  
  .angel-Images {
    width: 10rem;
    height: auto;
  }
  
  